{% extends 'core/base.html' %}
{% block topbar_i %}
  <h3>Refinancia Prestamo</h3>
{% endblock %}
{% block topbar_d %}
  <h4>Refinancia</h4>
{% endblock %}
{% block contenido %}
  {% load static %}

  <!-- Custom styles for this template -->
  <!-- <link href="{% static 'core/css/ecreaPrestamo.css' %}" rel="stylesheet" /> -->

  <div class="container-fluid">
    <div class="row" style="font-size: 15px">
      <form action="/prestamo/registrapRef/" method="post">
        {% csrf_token %}
        <!-- Información personal -->
        <div class="card" style="padding-bottom: 1em; margin-top: 1em;">
          <div id="personalInfo" class="mt-1">
            Información Personal<div class="row col-12">
              <div class="col-auto">
                <input type="text" value="{{ socio.id_asociado }}" id="txtid_asociado" name="txtid_asociado" style="height: 20px; width: 65px;" readonly />
              </div>
              <div class="col-auto">
                <input type="text" value="{{ socio.nombre }}" id="txtnombre" name="txtnombre" style="height: 20px; width: 150px;" readonly />
              </div>
              <div class="col-auto">
                <input type="text" value="{{ socio.telefono }}" id="txttelefono" name="txttelefono" style="height: 20px; width: 120px;" readonly />
              </div>
              <div class="col-auto">
                <input type="text" value="{{ socio.correo }}" id="txtcorreo" name="txtcorreo" style="height: 20px; width: 180px;" readonly />
              </div>
            </div>
          </div>
        </div>

        <div class="row col-12">
            <div class="table-responsive">
              <div class="card">
                <div class="card-body">
                  <table class="table table-striped py-2 cell-border compact" id="TselSocioD">
                    <thead>
                      <tr>
                        <th>N-Reg</th>
                        <th>Prestamo</th>
                        <th>Monto</th>
                        <th>Fec-Ini</th>
                        <th>Fec-Fin</th>
                        <th>Int-Pend</th>
                        <th>Sald-Pend</th>
                        <th>Seleccion</th>
                      </tr>
                    </thead>
                    <tbody>
                      {% for pendientes in Pendientes %}
                        <tr>
                          <td>{{ pendientes.id_MP }}</td>
                          <td>{{ pendientes.cod_Prestamo }}</td>
                          <td>{{ pendientes.monto_Prestamo }}</td>
                          <td>{{ pendientes.fec_Ini|date:'SHORT_DATE_FORMAT' }}</td>
                          <td>{{ pendientes.fec_Fin|date:'SHORT_DATE_FORMAT' }}</td>
                          <td>{{ pendientes.int_cal }}</td>
                          <td>{{ pendientes.sal_pendiente }}</td>
                          <td>
                            <a href="#"><i class="bi bi-check2-square"></i></a>
                          </td>
                        </tr>
                      {% endfor %}
                    </tbody>
                  </table>
                </div>
              </div>

          </div>
        </div>

        <!-- Bloque Carga Prestamo -->
        <div class="row col-12 card " style="padding-bottom: 1em;margin-top: 1em;">
          <div class="finance-block">
            <div style="color:darkblue">Refinancia</div>
            <div class="row col-12">
              <div class="col-auto">
                <label for="txtregmov" class="form-label">N-Reg</label>
                <input style="height: 30px; width: 70px; padding: 6px;" type="text" class="form-control" name="txtregmov" id="txtregmov" placeholder="0" readonly />
              </div>
              <div class="col-auto">
                <label for="txtcodPrest" class="form-label">Prestamo</label>
                <input style="height: 30px; width: 80px;" type="text" class="form-control" name="txtcodPrest" id="txtcodPrest" placeholder="0" readonly />
              </div>
              <div class="col-auto">
                <label for="txtmontPrestamoO" class="form-label">Monto</label>
                <input style="height: 30px; width: 120px;" type="text" class="form-control" name="txtmontPrestamoO" id="txtmontPrestamoO" placeholder="0.00" readonly />
              </div>
              <div class="col-auto">
                <label for="txtFecIniP" class="form-label">Fecha Inicio</label>
                <input style="height: 30px; width: 135px;" type="date" class="form-control" name="txtFecIniP" id="txtFecIniP" readonly />
              </div>
              <div class="col-auto">
                <label for="txtFecFinP" class="form-label">Fecha Reinicio</label>
                <input style="height: 30px; width: 135px;" type="date" class="form-control" name="txtFecFinP" id="txtFecFinP" />
              </div>
              <div class="col-auto">
                <label for="txtNSAl" class="form-label">Nuevo Saldo</label>
                <input style="height: 30px; width: 80px;" type="text" class="form-control" name="txtNSAl" id="txtNSAl" />
              </div>
              <div class="col-auto">
                <label for="txtAdd" class="form-label">Adicional</label>
                <input style="height: 30px; width: 100px;" type="text" class="form-control" name="txtAdd" id="txtAdd" readonly />
              </div>
            </div>
            <div class="row mb-3 mt-2">
            </div>
            <div class="row mb-3">
              <div style="color:darkblue">Nuevo Registro</div>
              <div class="col-md-2">
                <label for="txtmontPrestamoF" class="form-label">Monto Prestamo</label>
                <input type="text" class="form-control" name="txtmontPrestamoF" id="txtmontPrestamoF" placeholder="0.00" readonly />
              </div>
              <div class="col-md-2">
                <label for="txtFecInic" class="form-label">Fecha Inicial</label>
                <input type="date" class="form-control" name="txtFecInic" id="txtFecInic" readonly />
              </div>
              <div class="col-md-2">
                <label for="txtFecFinc" class="form-label">Fecha Final</label>
                <input type="date" class="form-control" name="txtFecFinc" id="txtFecFinc" readonly />
              </div>
            </div>
            <div class="row mb-3">
              <div class="col-md-6">
                <label for="txtObserva" class="form-label">Observacion...</label>
                <input style="width: 650PX;" type="text" class="form-control" id="txtObserva" name="txtObserva" placeholder="Datos del Credito" required />
              </div>
              <div class="input-group mb-3" style="display: none;" >
                <input type="text" id="txtValEnt" name="txtValEnt" maxlength="1" readonly />
              </div>
            </div>
          </div>
        </div>
        <!-- Bloque Botones -->
        <div class="crad col-md-3 mt-2">
          <a class="btn btn-secondary btn-sm" onclick="validaCancela()" href="{% url 'selSocio' %}" role="button">Cancelar</a>
          <button type="submit" id="Crear" class="btn btn-success btn-sm">Crear</button>
          <button type="button" id="Vnum" class="btn btn-success btn-info btn-sm" onclick="validaEntradas()">Validar</button>
        </div>
      </form>
    </div>
  </div>

  <!-- Modal -->
  <div class="modal fade" id="valueModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Algunas acciones presentan error</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
        </div>
        <div class="modal-body">
          <div>No selecciono un prestamo</div>
          <div>No indico la fecha de pago</div>
          <div>Adicional, no puede ser Menor/Igual a cero(0)</div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
        </div>
      </div>
    </div>
  </div>

  <script>
    document.addEventListener('DOMContentLoaded', (event) => {

        document.getElementById('txtAdd').value = 0
        document.getElementById('txtNSAl').value = 0
        document.getElementById('txtFecFinP').disabled = true
        document.getElementById('Crear').disabled = true
        document.getElementById('txtNSAl').disabled = true 
        document.getElementById('txtValEnt').value = 'True'   
    })

      // valida y evita que se aplique el formulario sin quere
      function validaCancela() {
        // event.preventDefault() // Evita que el formulario se envíe
            document.getElementById('txtValEnt').value = 'False'
    } 
    
    function parseAndFormatFloat(value) {
        // Convertir la cadena a un número de punto flotante
        let floatValue = parseFloat(value);
        
        // Verificar si el valor es un número
        if (isNaN(floatValue)) {
            return NaN;
        }
        
        // Formatear el número a 2 decimales
        return floatValue.toFixed(2);
    }
    
    // Selecciona Prestamo
    
    $('#TselSocioD tbody').on('click', 'tr', function () {
      var celdas = $(this).find('td')
      var vcol0 = $(celdas[0]).text() // Columna 2 (índice 1)
      var vcol1 = $(celdas[1]).text() // Columna 2 (índice 1)
      var vcol2 = $(celdas[2]).text() // Columna 2 (índice 1)
      var vcol3 = $(celdas[3]).text() // Columna 4 (índice 3)
      document.getElementById('txtregmov').value = vcol0
      document.getElementById('txtcodPrest').value = vcol1
      document.getElementById('txtmontPrestamoO').value = vcol2
      document.getElementById('txtmontPrestamoF').value = vcol2
    
      var vstr = vcol3
      var partes = vstr.split('/')
      var convfec1 = new Date(partes[2], partes[1] - 1, partes[0])
      var convfec2 = partes[2] + '-' + partes[1] + '-' + partes[0]
    
      document.getElementById('txtFecIniP').value = convfec2
      document.getElementById('txtFecFinP').disabled = false
      document.getElementById('Crear').disabled = true
      document.getElementById('Vnum').disabled = false
      document.getElementById('txtNSAl').disabled = true
    
      // Obtener la fecha actual
      const hoy = new Date()
      // Establecer el día al primer día del mes
      const primerDiaDelMes = new Date(hoy.getFullYear(), hoy.getMonth(), 1)
      // Formatear la fecha en formato YYYY-MM-DD
      const formatoFecha = primerDiaDelMes.toISOString().split('T')[0]
      // Asignar la fecha al campo de entrada
      document.getElementById('txtFecFinP').value = formatoFecha
      document.getElementById('txtFecInic').value = formatoFecha
      document.getElementById('txtFecFinc').value = formatoFecha
      document.getElementById('txtAdd').value = 0
      document.getElementById('txtNSAl').value = 0
    })
    
    // Actualizar fecha2 cuando cambia fecha1
    document.getElementById('txtFecFinP').addEventListener('change', function () {
      // Cambia Fechas
      var fechaInicial = document.getElementById('txtFecFinP').value
      var fecha = new Date(fechaInicial)
      fecha.setDate(fecha.getDate() + 0)
      var fechaFinal = fecha.toISOString().split('T')[0]
      document.getElementById('txtFecInic').value = fechaFinal
    
      // Cambia fecfinN
      var fechaInicial = document.getElementById('txtFecFinP').value
      var fecha = new Date(fechaInicial)
      fecha.setDate(fecha.getDate() + 30)
      var fechaFinal = fecha.toISOString().split('T')[0]
      document.getElementById('txtFecFinc').value = fechaFinal
      document.getElementById('txtNSAl').disabled = false
      document.getElementById('txtAdd').value = 0
      document.getElementById('txtNSAl').value = 0
      document.getElementById('Crear').disabled = true
      document.getElementById('Vnum').disabled = false
      $('#txtNSal').prop('readonly', false);
    
    })

    function validaEntradas() {
        event.preventDefault() // Evita que el formulario se envíe
        fecpag = document.getElementById('txtFecFinP').value

        strmont = txtmontPrestamoO.value.replace(/,/g, '.')
        var mMonto = parseAndFormatFloat(strmont);

        strmont = txtNSAl.value.replace(/,/g, '.')
        var mNSal = parseAndFormatFloat(strmont);

        var mAdd = (parseFloat(mNSal) - parseFloat(mMonto) )
        var mAdd = parseAndFormatFloat(mAdd);
        document.getElementById('txtAdd').value = mAdd
        
        vRegmov = txtregmov.value

        if (vRegmov <= 0){
            console.log('regmov', vRegmov)
            $('#valueModal').modal('show')
          }

        if (mAdd <= 0){
            console.log('mAdd', mAdd)
            $('#valueModal').modal('show')

        }
        if (mNSal <= 0){
            console.log('mNSal', mNSal)
            $('#valueModal').modal('show')
          }

          if (parseFloat(mAdd) > 0 &&  parseFloat(mNSal) > 0){
           // document.getElementById('txtFecFinP').disabled = true
           $('txtFecFinP').prop('readonly', true);
            document.getElementById('Crear').disabled = false
            $('#txtNSal').prop('readonly', true);
            document.getElementById('Vnum').disabled = true
            document.getElementById('txtmontPrestamoF').value = mNSal
            document.getElementById('txtAdd').value = mAdd
            vobserva = 'Refiancia..Deuda- Monto Original  ' + mMonto + ', Adicional - ' + mAdd + ', Nuevo Prestamo - ' + mNSal
            document.getElementById('txtObserva').value = vobserva
          }
    }

  </script>
  <script src="{% static 'prestamo/js/TselSocioD.js' %}"></script>
{% endblock %}
